* {
  box-sizing: border-box;
}

body {
  /* text-align: center; */
  margin: 0;
  padding: 0;
  font-family: "JetBrains Mono";
  background-color: #dfdfdf;
}

h1 {
  text-align: center;
  font-size: 3rem;
}
header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 90%;
  /* border: 1px solid purple; */
  margin: auto auto;
}
input {
  height: 40px;
  font-size: 1rem;
  width: 80%;
  padding-left: 2%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
button.add {
  width: 20%;
  cursor: pointer;
  background: rgb(73, 121, 73);
  height: 40px;
  color: white;
  font-weight: bold;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
main {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  margin: auto auto;
  /* border: 1px solid blue; */
  padding-top: 40px;
}
.item {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background: white;
  height: 70px;
  width: 100%;
  box-shadow: 0 0 20px #ccc;
  margin-bottom: 1%;
  cursor: pointer;
}

.item-icone {
  flex: 10%;
  /* border: 1px solid orangered; */
  text-align: center;
  font-size: 1.4rem;
}

.item-nome {
  flex: 70%;
  /* border: 1px solid deeppink; */
  font-size: 16px;
  font-weight: bold;
}

.item-botao {
  flex: 20%;
  /* border: 1px solid green; */
}


.item.clicado{
    background: rgba(166, 255, 166, 0.212);
}
.item.clicado .item-nome{
    text-decoration: line-through;
    color: gray;
}
.mdi-check-circle{
    color: green;
}


.delete {
    background: rgb(153, 4, 4);
    color: white;
    border: none;
    padding: 1px;
    height: 30px;
    width: 95%;
    cursor: pointer;
    border-radius: 10px;
}
